CLOUDFLARE_API_TOKEN=<YOUR_CLOUDFLARE_API_TOKEN>
ENVIRONMENT="development"

BETTER_AUTH_SECRET=<YOUR_BETTER_AUTH_SECRET>
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<YOUR_GOOGLE_CLIENT_SECRET>
GITHUB_CLIENT_ID=<YOUR_GITHUB_CLIENT_ID>
GITHUB_CLIENT_SECRET=<YOUR_GITHUB_CLIENT_SECRET>
