node_modules
dist
coverage/

# Ignore wrangler files
.wrangler/

# Ignore macOS attributes file
.DS_Store

# Ignore generated programs JSON
.generated

# Ignore environment variables
.env
.env.local

# Local SQLite database files
*.db
*.db-journal
*.db-shm
*.db-wal
