node_modules
public
dist
coverage/

# Ignore wrangler files
.wrangler/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore macOS attirbutes file
.DS_Store
