node_modules
dist
coverage/

# Ignore wrangler files
.wrangler/

# Ignore macOS attributes file
.DS_Store

# Ignore generated programs JSON
.generated

# Ignore environment variables
.env
.env.local

# Ignore Cloudflare environment variables
.dev.vars*

# Local SQLite database files
*.db
*.db-journal
*.db-shm
*.db-wal

# Ignore generated SQL seed file
seed.sql
