.gate {
  border: 1px solid var(--green);
  margin-bottom: 10px;
}

.gate form {
  display: flex;
  flex-direction: column;
}

.gateSummary {
  font-weight: bold;
}

.promptLine {
  display: flex;
  align-items: center;
  margin: 0.75rem 2rem 0.75rem 1rem;
}

.gateInput {
  margin-right: 1.125rem;
}

.promptCaret {
  color: var(--green);
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  width: 4ch;
  display: inline-block;
}
