:root {
  --black: black;
  --green: #33ff33;
  --red: #ff3333;
  --faded-green: #337200;
}

body {
  background-color: var(--black);
  color: var(--green);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 0;
  padding: 2rem;
}

button {
  border: 1px solid var(--green);
  background-color: var(--black);
  cursor: pointer;
  padding: 1rem;
  font-size: large;
  margin: 0 1rem;
}

#app-root {
  max-width: 800px;
  margin: auto;
  width: 100%;
  text-align: center;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 12 12'%3E%3Cpolyline points='1,3 6,9 11,3' fill='none' stroke='%2300ff00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  background-color: var(--black);
  border: 1px solid var(--green);
  color: var(--green);
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  cursor: pointer;
  margin: 0.75rem 1rem;
  padding: 1.5rem;
}

#program-selector {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.riddle {
  border: 1px solid var(--green);
  margin-bottom: 10px;
}

summary {
  color: var(--green);
  font-size: 16px;
  padding: 1rem;
  cursor: pointer;
}

summary::marker {
  content: none;
}

.riddle form {
  display: flex;
  flex-direction: column;
}

p:empty {
  margin: 0;
}

p {
  margin: 0.75rem 1rem;
}

.fail {
  color: var(--red);
}

#classic-ending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0px);
  }
}

input[type="text"] {
  background-color: var(--black);
  border: 1px solid var(--green);
  color: var(--green);
  padding: 0.75rem;
  font-family: inherit;
  font-size: 16px;
  margin: 0.75rem 1rem;
}

input[type="text"]:disabled {
  color: var(--faded-green);
  border-color: var(--faded-green);
  user-select: none;
  -moz-user-select: none;
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  .program summary {
    font-size: 14px;
  }

  input[type="text"] {
    font-size: 14px;
  }
}

.error-screen {
  text-align: center;
  margin-top: 4rem;
  color: var(--red);
}

.error-screen button {
  color: var(--red);
  border-color: var(--red);
}

#classic-ending button {
  color: var(--green);
  border-color: var(--green);
}
